
/* mixin: 引数を取って、それを利用して動的に内容を変更できる */
@mixin set-margin($direction, $value) {
	margin-#{direction}: #{value};
}

body {
	color: lightblue;
}

/* 変数定義 */
$text-color: orange;

/* 入れ子 */
.content {
	.title {
		font-size: 24px;
		color: $text-color; /* 変数を利用 */
	}
	/* プロパティの継承(extend) */
	.title-lg {
		@extend .title; /* .titleで定義されたプロパティを継承する */
		font-size: 32px;
	}
	/* mixin set-margin を適用
	 * margin-right: 16px; になる
	 */
	@include set-margin(right, 16px); 
}

/* 外部scssをインポート */
@import "./footer.scss";

